[submodule "event-graph-walker"]
	path = event-graph-walker
	url = https://github.com/dowdiness/event-graph-walker.git
[submodule "loom"]
	path = loom
	url = https://github.com/dowdiness/loom.git
[submodule "svg-dsl"]
	path = svg-dsl
	url = https://github.com/dowdiness/svg-dsl.git
[submodule "graphviz"]
	path = graphviz
	url = https://github.com/dowdiness/graphviz.git
[submodule "valtio"]
	path = valtio
	url = https://github.com/dowdiness/valtio.git
[submodule "rle"]
	path = rle
	url = https://github.com/dowdiness/rle.git
[submodule "order-tree"]
	path = order-tree
	url = https://github.com/dowdiness/order-tree.git
[submodule "alga"]
	path = alga
	url = https://github.com/dowdiness/alga.git
